<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393174453665-sklmn1288lodi033iah3e7gjlh2hll9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393174453665-sklmn1288lodi033iah3e7gjlh2hll9l</string>
	<key>API_KEY</key>
	<string>AIzaSyBvTOrY_IguEaW43yU99Vyb2yVNkJJE94w</string>
	<key>GCM_SENDER_ID</key>
	<string>393174453665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kefaxoo.kufar-analogue</string>
	<key>PROJECT_ID</key>
	<string>kufar-analogue-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>kufar-analogue-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393174453665:ios:acaf6a88a214c20306cfe0</string>
</dict>
</plist>